.upperBar {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 10vh;
    
}

.display{
    background-color: white;
    width: 100vw;
    height: 100vh;
    position: fixed;
}

body{
    margin: 0;
}


#goBack{
    position: absolute;
    width: 10px;
    top: 17%;
    left: 3%;
    background-color: rgb(255,255,255);
    border: 0;
}

.reply{
    height: 70vh;
    margin-left: 5%;
}

.reply button{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:grey;
}

/* #apicall{
    position: absolute;
    left: 5%;
    top: 50%;
} */

input{
    width: 327px;
    border: none;
    border-bottom: 2px solid #E6E6E6;
}

.religionBtn{
    width: 327px;
    height: 50px;
    background-color: rgb(249, 247, 247);
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(82, 81, 81);
    border-width: 1px;
    margin-bottom: 3px;
    font-size: 15px;
}

#footer{
    height:20vh;
    width: 100vw;
    position:relative;
}

.goNext{
    position: absolute;
    left: 85%;
    top: 30%;
    background-color: white;
    width:fit-content;
    height: fit-content;
}